.background {
	width: 100%;
	float: left;
	background: #b30838;
	height: 415px;
	padding-top: 20px;
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
	color: #fff;
	float: left;
  padding-top:12px;
  padding-right:10px;
  padding-left:10px;
	vertical-align: top;
}
.form-group {
	border: 1px solid #fff;
	margin-left: 25px;
	border-radius: 1%;
}
.form-control {
	display: block;
	margin: 1%;
  min-height:30px;
  border:1px solid #ffffff;
}
