.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.sidebar-nav{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn{
  color:#FFF;
}

.fenetre_Auth{
  border-collapse: collapse;
  	border-radius: 14px;
}
.p{
   text-align: justify;
}
