<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}Home {% endblock title %}</title>
        {% block head_meta %}
            {% block head_meta_charset %}
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
            {% endblock head_meta_charset %}
            {% block head_meta_contentlanguage %}
                <meta http-equiv="Content-Language" value="fr-fr" />
            {% endblock head_meta_contentlanguage %}
            {% block head_meta_viewport %}
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
            {% endblock head_meta_viewport %}
        {% endblock head_meta %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        {% load static %}
        <link rel="stylesheet" href="{% static '/styles.css' %}">
    </head>
    <body>
      <div id='main'>
        {# Navigation Menu #}
        <header>

        </header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
          <a class="navbar-brand active" href="{% url 'home' %}">menu</a>
          <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              failles
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'faille_1' %}">SQL injection</a>
              <a class="dropdown-item" href="{% url 'broken_authentication' %}">Authentication</a>
              <a class="dropdown-item" href="{% url 'bronken_access_control' %}">Broken access control</a>
              <a class="dropdown-item" href="{% url 'insecure_deserialization' %}">Deserialization </a>
              <a class="dropdown-item" href="{% url 'insufficient_log' %}">Log insufficient</a>
              <a class="dropdown-item" href="{% url 'security_miscounfiguration' %}">Mauvaise Configuration</a>
              <a class="dropdown-item" href="{% url 'sensitive_data_exposure' %}">Donnée sensible</a>
              <a class="dropdown-item" href="{% url 'using_components_know_vul' %}">Eléments avec vulnérable</a>
              <a class="dropdown-item" href="{% url 'xss' %}">xss</a>
              <a class="dropdown-item" href="{% url 'xml_external_entities' %}">xml</a>
            </div>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/profil">profil</a>
          </li>
          {%endif%}
          </ul>

            {% if user.is_authenticated %}

                        {% if flag == "YES" %}
                          <div class="mr-right">
                            <p> <font color="green">Validé !</font> </p>
                          </div>
                        {% elif flag == "NO" %}
                        <div class="mr-right">
                          <p> <font color="red">Raté !</font> </p>
                        </div>
                        {% endif %}

                        <form action="/flag" method="post">
                        <div mr-right>
                          <div class="contHttpResponseainer h-100">
                            <div class="d-flex justify-content-center h-100">
                              <div class="searchbar">
                                <input class="search_input" type="text" name="flag" placeholder="Tu as un flag ?"></input>
                                <button type="submit" class="search_icon">Flag</button>
                                {% csrf_token %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
              <a class="mr-left btn btn-black" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            {% else %}
              <a class="mr-left btn btn-black" href="{% url 'login'%}?next={{request.path}}">Login</a>
            {% endif %}
          </nav>

      <div class='corp'>
        <!-- <div class="col-sm-10 "> -->
        <div class=" ">{% block content %}{% endblock %}</div>
      </div>
        {# The Footer #}

        <!-- <footer class="footer pie font-small blue ">

        </footer> -->


        <div class="push"></div>
      <footer class="footer fixed-bottom bg-dark text-light">
        <div class="footer-copyright text-center py-3">
          © 2020 Copyright
          <p style="padding-top:10px" class="text-center top_spac"> Create by <a target="_blank">❤️</a></p>
        </div>
      </footer>
      <!-- <footer class="py-2 bg-dark">
      <div class="container">
      <div class="w-100"></div>
      <div class="col-md text-muted text-center">
      ©Akshay Gaur
    </div>
  </div>
</footer> -->
    </div>
    </body>

</html>
